
@font-face {
  font-family: 'Hind-Medium';
  src: url('Hind-Medium.eot?#iefix') format('embedded-opentype'),  url('Hind-Medium.otf')  format('opentype'),
	     url('Hind-Medium.woff') format('woff'), url('Hind-Medium.ttf')  format('truetype'), url('Hind-Medium.svg#Hind-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
