//Navigation styles
.nav {

    .mdc-top-app-bar__row {
        height: 55px;
        width: 100%;
        max-width: 1530px;
        margin: 0 auto;
        .mdc-top-app-bar__section {
            flex: 1 1 0;
            padding: 0;
        }
    }

    .mdc-top-app-bar__action-item,
    .mdc-top-app-bar__navigation-icon {
        height: 100%;
        width: 55px;
        border-left: 1px solid rgb(60, 60, 60);
        border-right: 1px solid rgb(60, 60, 60);
    }

    .logo-container {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 140px;
        box-sizing: content-box;
        padding: 0 5px;
        .logo-img {
            background-image: url("../images/Deco.png");
            background-size: cover;
            width: 76px;
            height: 16px;
            margin-right: 9px;
        }

        .logo-text {
            font-size: 18px;
            font-family: "Hind-Semibold";
            color: rgb(254, 254, 254);
            text-transform: uppercase;
            line-height: 1.333;
            text-align: left;
            transform: matrix(1.23239746818891, 0, 0, 1.23076923076923, 0, 0);
            -moz-transform: matrix(1.23239746818891, 0, 0, 1.23076923076923, 0, 0);
            -webkit-transform: matrix(1.23239746818891, 0, 0, 1.23076923076923, 0, 0);
            -ms-transform: matrix(1.23239746818891, 0, 0, 1.23076923076923, 0, 0);
        }
    }
}
//Header style
header {
    overflow: auto;
    //Slider container styles
    .slider-container {
        margin-top: 54px;
        position: relative;
        
        //Slider image styles
        .top-slide-1 {
            width: 100%;
            background-image: url("../images/top_slide_1.png");
            background-size: cover;
            background-position: center center;
            height: $slider-height;
            position: relative;
        }

        //end of Slider image styles 

        //Slider description styles
        .slider-nav-text {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            flex-direction: column;
            display: flex;
            justify-content: center;
            height: 140px;

            span {
                font-size: 14px;
                font-family: "Hind-Semibold";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                line-height: 1.714;
                text-align: center;
                writing-mode: vertical-rl;
                transform: rotate(180deg);
            }
        }

        //end of Slider description styles

        //Slider navigation styles 
        .slider-arrow-dots-container {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;

            .slider-arrows-container {
                display: flex;
                flex-direction: column;
                height: 222px;
                justify-content: space-between;
                width: 26px;
                align-items: center;

                .arrow-down,
                .arrow-up {
                    background-size: cover;
                    height: 26px;
                    width: 12px;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    margin: 0 7px;
                }

                .arrow-down {
                    background-image: url('../images/bottom-arrow.png');

                }

                .arrow-up {
                    background-image: url('../images/top-arrow.png');

                }
            }

            .slider-dots-container {
                margin-right: 22px;

                ul.slick-dots {
                    display: flex;
                    flex-direction: column-reverse;
                    list-style-type: none;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 0px;

                    li {
                        list-style-type: none;

                        button {
                            color: transparent;
                            background-size: cover;
                            width: 8px;
                            height: 12px;
                            background-color: transparent;
                            border: none;
                            background-image: url('../images/dot.png');

                        }
                    }

                    .slick-active button {
                        background-image: url('../images/dot-active.png');

                    }
                }
            }
        }

        //end of Slider navigation styles 
    }

    //end of Slider container styles
}

//end of Header style

//Newsletter block styles
.subscription-form-container {
    padding: 25px 0 25px 20px;

    text-transform: uppercase;

    .text-description p {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
        color: rgb(33, 33, 33);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
        text-align: left;
        width: 100%;
        margin: 0;
        max-width: 200px;
    }

    label,
    button {
        font-family: 'Hind-Light';
        font-size: 15px;
        color: rgb(153, 153, 153);
        text-transform: uppercase;
        line-height: 1.867;
        text-align: left;
    }

    //Material text-field custom styles
    .mdc-text-field {
        width: 100%;

    }

    .mdc-text-field .mdc-floating-label {
        top: 12px;
    }

    //end of Material text-field custom styles

    //Material button custom styles
    .mdc-button {
        @include mdc-button-container-fill-color($mdc-theme-primary);
        @include mdc-button-ink-color(whitesmoke);
        @include mdc-button-outline-color($mdc-theme-on-primary);
        border-style: solid;
        border-width: 1px;
        width: 100%;
        height: $subscription-text-field-h;
    }

    //end of Material button custom styles
}

//end of Newsletter block styles

//Content section styles
main {
    margin: 30px auto;
    position: relative;
}

.content-card {
    width: 360px;
    margin-top: 30px;
    position: relative;
}

.content-card__bottom-bar {
    border-top-width: 1px;
    border-top-color: rgb(215, 215, 215);
    border-top-style: solid;
}

.content-card--dark-bg {
    @include mdc-card-fill-color($mdc-theme-primary);
}

.mdc-card__primary-action--dark {
    @include mdc-states($mdc-theme-secondary, false);
}

.content-card--on-dark-text {
    color: whitesmoke;
}

.content-card--white-bg {
    background-color: white;
}

.content-card__image {
    background-image: url("../images/top_slide_1.png");
    height: 255px;
}

.content-card__video {
    height: 255px;
}

.content-card__text-container {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.content-card__heading {
    font-size: 20px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    line-height: 1.4;
    text-decoration: none;
    margin: 0;
}

.content-card__subheading {
    font-size: 14px;
    font-family: 'Hind-Regular';
    color: rgb(153, 153, 153);
    @include mdc-button-ink-color(rgb(153, 153, 153));
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.content-card__paragraph {
    font-size: 15px;
    font-family: 'Hind-Light';
    color: rgb(70, 70, 70);
    line-height: 1.867;
    text-align: center;
    width: 300px;
}

.typography__paragraph--on-dark {
    font-size: 15px;
    font-family: 'Hind-Light';
    color: whitesmoke;
    line-height: 1.867;
    width: 300px;
}

.content-card__button--on-dark {
    @include mdc-states($mdc-theme-secondary, false);
    @include mdc-button-ink-color(white);
    font-size: 17px;
    font-family: 'Hind-Light';
    text-decoration: underline;
    line-height: 1.647;
    text-align: center;
    height: 50px;
}

.content-card__decoration-icon {
    width: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.content-card__decoration-icon--white {
    width: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.content-card__button {
    margin: 40px 0;
    font-size: 14px;
    font-family: 'Hind-Medium';
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
    height: 30px;
    border-width: 0 1px 0 1px;
    @include mdc-button-outline-color(rgb(215, 215, 215));
    @include mdc-button-shape-radius(0px, none);
}

.content-card__social-button {
    min-width: 40px;
}

.content-card__social-icon {
    font-size: 14px;
    color: rgb(70, 70, 70);
    line-height: 2;
    text-align: center;
    padding: 0 5px;
}

//masonry grid container styles
.grid {
    max-width: 1530px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
}

 .grid-sizer {
    width: 380px;
}

//footer styles
.footer {
    background: $mdc-theme-primary;
    padding-top: 50px;
}

.footer__typography-heading {
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    color: rgb(249, 249, 251);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.75;
    text-align: left;
}

.footer__about-sign-container {
    background-color: rgb(58, 60, 73);
    width: 361px;
    height: 147px;
    position: relative;
    margin-top: 15px;
}

.footer__about-sign-calygraphy {
    font-size: 40px;
    font-family: 'MrsSaintDelafield-Regular';
    color: $mdc-theme-on-primary;
    line-height: 0.6;
    text-align: left;
    -moz-transform: matrix(0.89071332367522, -0.13764529365174, 0.13764529365174, 0.89071332367521, 0, 0);
    -webkit-transform: matrix(0.89071332367522, -0.13764529365174, 0.13764529365174, 0.89071332367521, 0, 0);
    -ms-transform: matrix(0.89071332367522, -0.13764529365174, 0.13764529365174, 0.89071332367521, 0, 0);
    position: absolute;
    right: 5px;
    bottom: 15px;
}

.footer__typography-paragraph {
    font-size: 15px;
    font-family: 'Hind-Light';
    line-height: 1.867;
    text-align: left;
    margin: 0;
    max-width: 339px;
}

.footer__typography-paragraph--on-dark {
    color: $mdc-theme-on-primary;
}

.footer__typography-post-author {
    font-size: 14px;
    font-family: "FontAwesome";
    color: rgb(249, 249, 251);
    line-height: 1.714;
    text-align: left;
}

.footer__typography-post-author:nth-of-type(1) {
    margin-bottom: 30px;
}

