@font-face {
    font-family: 'Hind-Semibold';
    src: url('../fonts/Hind-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Semibold.woff') format('woff'), url('../fonts/Hind-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Light';
    src: url('../fonts/Hind-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Light.woff') format('woff'), url('../fonts/Hind-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Regular';
    src: url('../fonts/Hind-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Regular.woff') format('woff'), url('../fonts/Hind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Medium';
    src: url('../fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Medium.woff') format('woff'), url('../fonts/Hind-Medium.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MrsSaintDelafield-Regular';
    src: url('../fonts/MrsSaintDelafield-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MrsSaintDelafield-Regular.woff') format('woff'), url('../fonts/MrsSaintDelafield-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    background-color: rgb(249, 249, 251);
    height: 100%;
}

button,
a {
    outline: none;
}

a {
    text-decoration: none;
}

.header-dark-background {
    width: 100%;
    min-height: 350px;
    background: #212429;
    position: absolute;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.content-container,
.nav-container {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    position: relative;
 
}

//MDC Drawer additional CSS.
//Link to official MDC-Drawer doc page: "https://material.io/develop/web/components/drawers/")

body {
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
    padding-bottom: 10px;
}

.app-bar {
    position: absolute;
}
