@font-face {
    font-family: 'Hind-Semibold';
    src: url('../fonts/Hind-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Semibold.woff') format('woff'), url('../fonts/Hind-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Light';
    src: url('../fonts/Hind-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hind-Light.woff') format('woff'), url('../fonts/Hind-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Regular';
    src: url('../fonts/Hind-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Regular.woff') format('woff'), url('../fonts/Hind-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hind-Medium';
    src: url('../fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind-Medium.woff') format('woff'), url('../fonts/Hind-Medium.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MrsSaintDelafield-Regular';
    src: url('../fonts/MrsSaintDelafield-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MrsSaintDelafield-Regular.woff') format('woff'), url('../fonts/MrsSaintDelafield-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    background-color: rgb(249, 249, 251);
    height: 100%;
}

button,
a, .slick-dots li, button.slick-arrow, .mdc-button {
    outline: none;
    outline-color: transparent;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.header-dark-background {
    width: 100%;
    min-height: 350px;
    background: #212429;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.content-container,
.nav-container {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    position: relative;
 
}

//MDC Drawer additional CSS.
//Link to official MDC-Drawer doc page: "https://material.io/develop/web/components/drawers/")



.mdc-layout-grid {
    @include mdc-layout-grid(desktop, 0 auto, 1530px);
}
