@font-face {
    font-family: 'Hind-Semibold';
    src: url('../fonts/Hind-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Hind-Semibold.woff') format('woff'), url('../fonts/Hind-Semibold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }